.subheader1 {
    margin-top: 128px;
}

.header1 {
    margin-top: 16px;
}

.events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 128px;
}

.events > * {
    margin: 12px;
}
